$base-color: #bd1d08;

$muted-color: #999;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

@include pictos-iconmask('locate4');
@include pictos-iconmask('team');
@include pictos-iconmask('chart2');
@include pictos-iconmask('bulb');
@include pictos-iconmask('piechart');

.school-info {
	font-family: Georgia, serif;

	.school-name {
		color: darken($base-color, 10);
		font-size: 1.75em;
		margin-bottom: 0;
	}

	.school-level {
		color: $muted-color;
		font-size: 1.25em;
		margin-top: .25em;
	}
	
	.school-address {
		border: 1px solid #ccc;
		border-width: 1px 0;
		padding: 1em 0;
	}
	
	.school-zip {
		color: $muted-color;
	}
	
	p:last-child {
		margin-bottom: 0;
	}
}

.school-actions {
	padding: 1em;
	
	.x-button {
		margin-bottom: .3em;
	}
}

.about-footer {
	color: #999;
	text-align: center;

	img {
		display: block;
		margin: auto;
		width: 140px;
	}
}