#Tue, 09 Apr 2013 14:26:34 -0400
# This configuration property (if set) is included by default in all compile commands
# executed according to this formulation:
#
#   sencha compile -classpath=...,${framework.classpath},${workspace.classpath},${app.classpath}
#
#workspace.classpath=
workspace.build.dir=${workspace.dir}/build
ext.dir=${workspace.dir}/ext
touch.dir=${workspace.dir}/touch

workspace.cmd.version=3.1.0.256

workspace.packages.dir=${workspace.dir}/packages
